.container{
    margin-left: 40px;
    padding-top: 10px;
    position: relative;
    text-align: center;
    box-shadow: 0 0 10px #ccc;
    border-radius: 10px;
}
.list{
    float: left;
    padding-bottom: 20px;
}
.voi{
    width: 300px;
    padding-top: 10px;
}
.name{
    position: absolute;
    margin-left: 30%;
    font-variant: small-caps;
    color: red;
}
.price{
    position: absolute;
    bottom:0 ;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: burlywood;
}

.heart{
    position: absolute;
    width: 20px;
    right: 5px;
    bottom: 55px;
}
.letters{
    position: absolute;
    width: 20px;
    right: 5px;
    bottom: 30px;
}
.cart{
    position: absolute;
    width: 20px;
    right: 5px;
    bottom: 5px;
}
.new{
    position: absolute;
    width: 50px;
    top: 0;
    right: 5px;
}